<div class=" ui form"  [formGroup]="supplierForm">
   <background-image tappable class="category-heading" >
        <ion-row class="heading-row wud-fornitore">
          <ion-col no-padding width-100 >
            <h2>
                <ion-input type="text"
                            id="nomeInput"
                            placeholder="Nome fornitore"
                            formControlName="nome" >
                </ion-input>
                <ion-input type="text"
                           id="nomeInput"
                           placeholder="indirizzo"
                           formControlName="indirizzo" >
                </ion-input>
                <ion-input type="text"
                           id="nomeInput"
                           placeholder="Note sul fornitore"
                           formControlName="note" >
                </ion-input>
            <button ion-button round icon-right class="choose-category-button " (click)="update(this.supplierForm,fornitore.$key)">
            <ion-icon name="create" ></ion-icon>
          </button>
            <button ion-button round icon-right class="choose-category-button " (click)="trash(fornitore.$key)">
            <ion-icon name="trash" ></ion-icon>
          </button>
          <ion-list>
              <ion-item>
              <ion-label>{{text4Switch()}}</ion-label>
              <ion-toggle id="online"
                      formControlName="onLine">
              </ion-toggle>
              </ion-item>
              </ion-list>
          <ion-icon name="locate" (click)="geolocalize()"></ion-icon>
             </h2>
          </ion-col>
        </ion-row>
      </background-image>
</div>