<div>
   <background-image tappable class="category-heading" >
        <ion-row class="heading-row wud-fornitore">
          <ion-col no-padding width-100 >
            <h2>
            <ion-input type="text" [value]="fornitore.nome" (input)="fornitore.nome = $event.target.value" ></ion-input>
            <ion-input type="text" [value]="fornitore.indirizzo" (input)="fornitore.indirizzo = $event.target.value" ></ion-input>
            <ion-input type="text" [value]="fornitore.note" (input)="fornitore.note = $event.target.value" ></ion-input>
            <button ion-button round icon-right class="choose-category-button " (click)="update(fornitore)">
            <ion-icon name="create" ></ion-icon>
          </button>
            <button ion-button round icon-right class="choose-category-button " (click)="trash(fornitore)">
            <ion-icon name="trash" ></ion-icon>
          </button>
             </h2>
          </ion-col>
        </ion-row>
      </background-image>
</div>