categories-selector {
    .ok {
        width: 20em;
        height:3em;
        float:left;
    }
    .annulla {
        width: 20em;
        height: 3em;
        float: right;
    }

    #buttons {
        /* z-index: 54; */
        bottom: 0em;
        position: fixed;
    }
    selected-categories-list{
        //position:fixed
    }

}
