page-categories {
    .mat-icon svg {
        height: 24px;
        width: 24px;
    }

    .fab {
        position: fixed;
        width: 56px;
        left: 50%;
        bottom: 15px;
        margin-left: -28px;
      }

}
