<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="login-header auth-header">

  <ion-navbar>
     <ion-col class="item-icon .ion-ios-arrow-back":before>
            
            <ion-title><ion-icon name="arrow-back"(click)="goHome()" ></ion-icon>  Categories</ion-title>
          </ion-col>
  </ion-navbar>

</ion-header>


<ion-content class="listing-content">
<h4 class="categories-title">{{'BROWSE_CATEGORIES' | translate}}</h4>
  <ion-row class="grid-categories">
    <ion-col width-50 class="category-item" *ngFor="let category of categories| async">
     <category-wud-item [categoria]=category *ngIf="showCategory(category)" >
     </category-wud-item>
    </ion-col>
  </ion-row>
  <hr>
<input type="text" [value]="newCategory" (input)="newCategory = $event.target.value" >

<button md-fab
        (click)="createCategory()"
><md-icon svgIcon="ic_add_circle_24px" class="fab-buttons__link fab" ></md-icon></button>
<field-filter [placeholder]='segnaposto'
              (doFilter)="newCategory= $event.filterString"        
></field-filter>
   

      
</ion-content>
