<div class=" ui form"  [formGroup]="paymentForm">
   <background-image tappable class="category-heading" >
        <ion-row class="heading-row payment-wud">
          <ion-col no-padding width-100 >
            <h2>
                <ion-input type="text"
                            id="nomeInput"
                            placeholder="Pagamento"
                            formControlName="nome" >
                </ion-input>
                <ion-input type="text"
                           id="addebitoInput"
                           placeholder="codice addebito"
                           formControlName="addebito" >
                </ion-input>
                <ion-input type="text"
                           id="noteInput"
                           placeholder="note"
                           formControlName="note" >
                </ion-input>
            <button ion-button round icon-right class="choose-category-button " (click)="update(this.paymentForm,payment.$key)">
            <ion-icon name="create" ></ion-icon>
          </button>
            <button ion-button round icon-right class="choose-category-button " (click)="trash(payment.$key)">
            <ion-icon name="trash" ></ion-icon>
          </button>
             </h2>
          </ion-col>
        </ion-row>
      </background-image>
</div>