<!--
  Generated template for the FornitoriPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
     <span> <ion-icon name="arrow-back" (click)="goHome()"></ion-icon> </span>fornitori</ion-title>
    <div id="SupplierForm">
      
      <field-filter [placeholder]='segnaposto' (doFilter)="filterFornitore= $event.filterString"></field-filter>
    </div>
  </ion-navbar>


  
</ion-header>



<ion-content class="listing-content">
    
   
    <selector [db]=Suppliers (selected)="selectedEvent($event)" [db]=Suppliers [component]=component [fieldId]=fieldId>
      </selector>
  <h4 class="categories-title">{{'BROWSE_SUPPLIERS' | translate}}</h4>
  <article class="list">
    <ion-col width-50 class="category-item" *ngFor="let supplier of suppliers| async">
      <fornitori-wud-item [fornitore]=supplier *ngIf="filterSupplier(supplier)">
      </fornitori-wud-item>
    </ion-col>
  </article>
  <hr>
  <ion-fab bottom right>
      <button  ion-fab (click)="createSupplier()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
</ion-content>