page-fornitori {
    #supplierForm{
        float: right;
    }
    .mat-icon svg {
        height: 24px;
        width: 24px;
    }

    .fab {
        float: right;
        position: fixed;
        background-color: aqua;
        width: 36px;
        height:36px;
        left: 50%;
        bottom: 15px;
        margin-left: -28px;
      }

}
