page-create-shopping-cart {
    ion-header .toolbar-title, ion-header .back-button, ion-header .bar-button {
        text-align: center;
        color: #FFFFFF;
    }
    .dismiss {
        float: right;
    }

}
