page-create-shopping-cart {
    ion-header .toolbar-title, ion-header .back-button, ion-header .bar-button {
        text-align: center;
        color: #FFFFFF;
    }
    .dismiss {
        float: right;
    }

    .ui.items {
        height: 10em;
        width: 18em;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }

}
