signup-page {
	.error
	{
		border: solid 1px red;
		border-radius: 5px;
		background: rgba(249, 40, 165, 0.55);
	}
	.signup-content
	{
		.legal-stuff
		{
			color: $white-d;
			text-align: center;
			margin: 10px 12px;

			.legal-action
			{
				font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
}
