selected-category {
    .small_button{
        line-height: 5px !important;
        min-height: 24px !important;
        padding: -4px -8.4rem;
    }
    button.button-calm.small_button.button.button-md.button-default.button-default-md.button-round.button-round-md {
        padding: 4px;
    }
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        padding-left: 0.5em;
    }
}
